body {
    font: 600 14px Arial, sans-serif;
	background: #F1F1F1;
	color: #c2c2c2;
}

.wrapper {
	max-width: 1024px;
	margin: 0 auto;
}

header {
	padding: 25px 0;
	letter-spacing: 1px;
    
}

.container {
    margin-bottom: 50px;
}

.basearch {
	background: #F1F1F1;
	font-size: 100px;
	font-weight: bold;
	max-width: 90%;
	border: none;
	outline: none;
	color: #ec5a62;
}

.basubmit {
    width: 80px;
	height: 80px;
	background: url(../img/magnifier.svg) no-repeat center center;
	background-size: 100%;
	border: none;
	outline: none;
}

input::placeholder {
	color: #c2c2c2;
}

input::-ms-clear {
    width : 0;
  	height: 0;
}


h2 {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 800;
	letter-spacing: 1px;
}

.people, .popular, .recent {
	display: inline-block;
	font-size: 0px;
	width: 30.5%;
	vertical-align: top;
}

.popular,
.recent {
    padding-left: 30px;
}

.container ul {
	list-style: none;
	padding-left: 0;
}

.container a {
	text-decoration: none;
	color: #adadad;
	display: block;
}
.container a:hover {
	text-decoration: none;
	color: #ec5a62;
	background: rgba(118,117,128,0.1);
	border-radius: 6px;
}
.container li {
    border: 1px solid #F1F1F1;
    width: 100%;
	border-radius: 6px;
	margin-bottom: 2px;
	background: rgba(118,117,128,0.05);
}

.people img {
	border-radius: 50%;
}

.container img {
	margin: 10px;
    vertical-align: middle;
}
    
.container a h3 {
	vertical-align: middle;
	font-size: 14px;
	font-weight: 700;
	display: inline-block;
	margin: 0 0 0 0;
	width: calc(100% - 70px);
}
